<footer class="site-footer">

  <div class="wrapper">
  	<p> 
    <a href="mailto:rwm.joosten@gmail.com"><b class="fa fa-envelope-square"></b></a>
    <a href="https://www.linkedin.com/in/rwmjoosten/" target="_blank"><b class="fa fa-linkedin-square"></b></a>
    <a href="https://github.com/robertjoosten" target="_blank"><b class="fa fa-github-square"></b></a>
    <a href="https://vimeo.com/rjoosten" target="_blank"><b class="fa fa-vimeo-square"></b></a>
    <a href="https://gumroad.com/robertjoosten" target="_blank"><b class="fa fa-shopping-cart"></b></a>
    <a href="https://www.instagram.com/robertoj00/" target="_blank"><b class="fa fa-instagram"></b></a>
    <i style="float:right">&#169; Robert Joosten</i>
    </p>
  </div>
</footer>
