---
layout: default
---
<div class="post">

  <header class="post-header">
    <div> 
        <p style="float: right;">
            <span class="right contacticon">
                {% if page.github %}<a href="{{ page.github }}"><i class="fa fa-github-square"></i></a>{% endif %}
                {% if page.github-docs %}<a href="{{ page.github-docs }}"><i class="fa fa-book"></i></a>{% endif %}
                {% if page.gumroad %}<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script><a href="{{ page.gumroad }}"><i class="fa fa-download"></i></a>{% endif %}
            </span>
        </p>
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%B %-d, %Y — %H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        
    </div> 
  
    
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <hr>
  <br>
  <p>
    {% if page.tag %}
    {% assign sorted_tags = page.tag | sort %}
    {% for tag in sorted_tags %}
    <a class="post-tag" href="{{ site.baseurl }}/tags#{{ tag |replace: ' ', '-' }}">{{ tag | upcase }}</a>
    {% endfor %}
    {% endif %}
  </p>
</div>



